

/* ChromeFix */

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
    font-family: 'playbold';
    src: 
         url('play-bold-webfont.svg#playbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Play'; 
    src:
         url('play-regular-webfont.svg#playregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
}


